### Vanilla CTR Zeroshot

In [1]:
import pickle
import json
import pandas as pd
import numpy as np
import os
import time
from dotenv import load_dotenv
import re

In [2]:
inference_path = 'vanilla_zeroshot_inference_test.json'
with open(inference_path, 'r') as f:
    inference_dict = json.load(f)
print(len(inference_dict))

1240

In [3]:
ratings_path = '../fashion_data/processed_data/ratings.csv'
ratings_df = pd.read_csv(ratings_path)
ratings_df.head()

   item  user  rating   timestamp
0     0     0     4.0  1452816000
1     1     0     4.0  1453766400
2     2     0     3.0  1453766400
3     3     0     4.0  1453766400
4     4     0     4.0  1453766400

In [4]:
pattern = r"Prediction:(?:\s+)?(Yes|No)\b"
invalid_users = []
cnt = cntInvalid = cntY = cntN = 0
user_inference_dict = dict()
for user, inference in inference_dict.items():
    cnt += 1
    # print(user, inference)
    # Use re.findall to find all matches in the string
    matches = re.findall(pattern, inference, re.IGNORECASE)
    if len(matches) == 0:
        cntInvalid += 1
        invalid_users.append(user)
        user_inference_dict[user] = 0
    for match in matches:
        if match == 'Yes':
            cntY += 1
            user_inference_dict[user] = 1
            break
        elif match == 'No':
            cntN += 1
            user_inference_dict[user] = 0
            break
    # print('*'*100)
    # if cnt == 10:
    #     break
print(f"Yes: {cntY} -- No: {cntN} -- Invalid: {cntInvalid}")
print("invalid_users:", invalid_users)
print(len(user_inference_dict))

Yes: 240 -- No: 2 -- Invalid: 998
invalid_users: ['2', '3', '4', '5', '6', '7', '8', '9', '12', '13', '15', '19', '20', '21', '22', '23', '24', '25', '26', '28', '29', '30', '31', '32', '33', '34', '35', '36', '38', '39', '41', '42', '43', '44', '46', '47', '48', '49', '51', '52', '53', '54', '56', '57', '58', '59', '60', '61', '62', '63', '64', '66', '67', '68', '69', '70', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '86', '87', '88', '90', '92', '93', '95', '96', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '110', '111', '112', '114', '115', '116', '117', '118', '119', '120', '122', '123', '124', '125', '128', '130', '131', '132', '133', '135', '136', '137', '139', '142', '144', '145', '147', '149', '150', '151', '152', '154', '155', '156', '159', '160', '161', '162', '163', '164', '165', '166', '168', '169', '170', '171', '172', '173', '175', '177', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '191', '192', '193', '194', '195', '196', '197', '198', '199', '201', '202', '203', '204', '205', '207', '208', '209', '210', '212', '213', '214', '216', '217', '218', '219', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '240', '243', '244', '245', '247', '249', '250', '251', '253', '255', '256', '257', '258', '259', '260', '261', '262', '265', '266', '267', '268', '269', '270', '272', '273', '274', '275', '276', '277', '278', '280', '281', '282', '283', '284', '285', '286', '287', '288', '289', '290', '291', '295', '296', '299', '300', '301', '303', '304', '306', '307', '309', '310', '312', '314', '315', '318', '320', '321', '322', '323', '324', '325', '326', '327', '329', '332', '333', '336', '339', '340', '343', '344', '345', '347', '348', '350', '351', '352', '353', '354', '355', '357', '358', '359', '361', '362', '363', '364', '366', '368', '369', '370', '371', '372', '374', '376', '377', '380', '382', '383', '385', '388', '390', '391', '392', '393', '394', '395', '396', '400', '401', '402', '403', '404', '405', '407', '408', '409', '410', '411', '412', '413', '414', '415', '417', '418', '420', '421', '422', '423', '427', '428', '429', '430', '431', '433', '434', '435', '436', '438', '440', '441', '443', '444', '445', '446', '447', '451', '452', '453', '454', '457', '458', '459', '463', '465', '466', '467', '469', '470', '472', '473', '474', '475', '476', '477', '478', '479', '480', '481', '482', '483', '484', '485', '486', '488', '489', '490', '491', '492', '494', '495', '496', '498', '499', '500', '502', '504', '505', '506', '507', '508', '509', '510', '511', '512', '513', '514', '515', '516', '517', '518', '519', '520', '521', '522', '523', '524', '525', '526', '527', '528', '529', '530', '531', '532', '533', '534', '535', '536', '537', '538', '539', '540', '542', '543', '544', '546', '547', '549', '551', '552', '553', '555', '556', '558', '560', '561', '562', '563', '564', '565', '566', '567', '568', '569', '570', '573', '574', '575', '576', '578', '579', '580', '581', '582', '583', '584', '585', '586', '587', '588', '589', '590', '591', '592', '593', '594', '595', '596', '597', '600', '604', '605', '606', '608', '609', '610', '611', '613', '614', '615', '616', '617', '620', '621', '622', '625', '626', '627', '628', '629', '630', '631', '632', '633', '634', '635', '636', '637', '638', '639', '641', '642', '643', '645', '646', '647', '648', '650', '651', '654', '655', '656', '660', '661', '662', '663', '664', '665', '667', '668', '669', '670', '671', '673', '676', '677', '678', '679', '680', '681', '682', '683', '684', '685', '686', '687', '688', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '700', '701', '702', '703', '704', '705', '706', '707', '708', '709', '710', '711', '712', '713', '714', '715', '716', '718', '719', '720', '721', '722', '723', '724', '725', '726', '727', '728', '729', '730', '731', '732', '733', '735', '736', '737', '738', '740', '741', '742', '743', '744', '745', '746', '747', '748', '749', '750', '751', '752', '753', '754', '755', '756', '758', '759', '761', '762', '763', '764', '765', '766', '767', '768', '769', '770', '771', '774', '776', '777', '778', '779', '781', '782', '783', '784', '785', '787', '788', '790', '791', '792', '793', '794', '796', '797', '799', '800', '801', '802', '803', '804', '806', '807', '808', '809', '810', '811', '812', '814', '815', '817', '819', '821', '822', '823', '824', '825', '828', '829', '830', '831', '832', '833', '834', '835', '836', '837', '838', '839', '840', '841', '843', '844', '845', '846', '847', '848', '851', '852', '853', '854', '856', '857', '858', '859', '862', '863', '864', '867', '868', '869', '870', '871', '872', '873', '874', '875', '876', '877', '878', '879', '880', '881', '882', '883', '884', '885', '886', '888', '889', '890', '891', '892', '893', '894', '895', '896', '897', '898', '899', '900', '901', '903', '904', '905', '906', '909', '910', '911', '916', '917', '918', '919', '921', '922', '923', '924', '925', '926', '927', '928', '931', '932', '933', '934', '936', '937', '939', '940', '942', '943', '944', '946', '947', '948', '949', '950', '951', '952', '954', '955', '960', '961', '962', '963', '964', '965', '968', '969', '970', '971', '972', '974', '975', '976', '978', '979', '980', '981', '982', '984', '985', '987', '989', '990', '993', '994', '995', '996', '997', '998', '999', '1000', '1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1021', '1024', '1025', '1027', '1028', '1029', '1031', '1032', '1033', '1034', '1035', '1036', '1037', '1038', '1039', '1040', '1041', '1043', '1045', '1047', '1048', '1049', '1050', '1051', '1052', '1053', '1054', '1056', '1057', '1058', '1059', '1061', '1062', '1063', '1064', '1065', '1066', '1067', '1068', '1069', '1070', '1071', '1072', '1073', '1074', '1075', '1076', '1078', '1079', '1080', '1081', '1082', '1083', '1084', '1085', '1086', '1087', '1088', '1090', '1091', '1093', '1094', '1095', '1096', '1097', '1098', '1099', '1100', '1101', '1103', '1104', '1105', '1108', '1109', '1112', '1113', '1114', '1116', '1117', '1118', '1119', '1120', '1121', '1122', '1123', '1124', '1125', '1126', '1129', '1130', '1132', '1133', '1134', '1135', '1136', '1137', '1139', '1140', '1141', '1142', '1143', '1144', '1145', '1146', '1147', '1148', '1149', '1151', '1152', '1154', '1156', '1157', '1158', '1161', '1163', '1164', '1165', '1166', '1167', '1168', '1169', '1170', '1171', '1173', '1174', '1176', '1177', '1178', '1179', '1180', '1182', '1184', '1185', '1186', '1187', '1188', '1189', '1190', '1191', '1192', '1193', '1194', '1197', '1198', '1201', '1202', '1203', '1204', '1206', '1207', '1209', '1210', '1211', '1212', '1213', '1214', '1215', '1216', '1217', '1218', '1220', '1221', '1222', '1223', '1224', '1225', '1226', '1227', '1228', '1229', '1230', '1231', '1233', '1234', '1235', '1237', '1238', '1240', '1241', '1242', '1243', '1244', '1245', '1246', '1247', '1248', '1249', '1250', '1251', '1252', '1253', '1255', '1256', '1257', '1258', '1259']
1240

In [5]:
user_test_movie_rating_df = ratings_df.groupby('user').nth(-1)
user_test_movie_rating_df.head()

    item  user  rating   timestamp
7      7     0     3.0  1500854400
17    17     1     5.0  1470096000
25    25     2     4.0  1462924800
33    25     3     4.0  1495065600
41    25     4     5.0  1509580800

In [6]:
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, precision_score, recall_score
y_true = []
y_pred = []

fp_users = []
fn_users = []

for user, inference in user_inference_dict.items():
    original_rating = user_test_movie_rating_df[user_test_movie_rating_df['user'] == int(user)]['rating'].values[0]
    # print(original_rating)
    if original_rating > 3:
        y_true.append(1)
        if inference == 0:
            fn_users.append(user)
    else:
        y_true.append(0)
        if inference == 1:
            fp_users.append(user)
    y_pred.append(inference)

conf_matrix = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

auc_roc = roc_auc_score(y_true, y_pred)
print("AUC:", auc_roc)

precision = precision_score(y_true, y_pred)
print("Precision:", precision)

recall = recall_score(y_true, y_pred)
print("Recall:", recall)

accuracy = accuracy_score(y_true, y_pred)
print("Accuracy:", accuracy)

Confusion Matrix:
[[222  68]
 [778 172]]
AUC: 0.47328493647912884
Precision: 0.7166666666666667
Recall: 0.18105263157894738
Accuracy: 0.317741935483871

In [20]:
user_valid_movie_rating_df = ratings_df.groupby('user').nth(-2)
user_valid_movie_rating_df.head()

    item  user  rating   timestamp
6      6     0     2.0  1453766400
16    16     1     5.0  1468195200
24    24     2     4.0  1462924800
32    24     3     4.0  1495065600
40    24     4     5.0  1509580800

In [21]:
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, precision_score, recall_score
y_true = []
y_pred = []

fp_users = []
fn_users = []

for user, inference in user_inference_dict.items():
    original_rating = user_valid_movie_rating_df[user_valid_movie_rating_df['user'] == int(user)]['rating'].values[0]
    # print(original_rating)
    if original_rating > 3:
        y_true.append(1)
        if inference == 0:
            fn_users.append(user)
    else:
        y_true.append(0)
        if inference == 1:
            fp_users.append(user)
    y_pred.append(inference)

conf_matrix = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

auc_roc = roc_auc_score(y_true, y_pred)
print("AUC:", auc_roc)

precision = precision_score(y_true, y_pred)
print("Precision:", precision)

recall = recall_score(y_true, y_pred)
print("Recall:", recall)

accuracy = accuracy_score(y_true, y_pred)
print("Accuracy:", accuracy)

Confusion Matrix:
[[ 77 165]
 [112 574]]
AUC: 0.5774582560296846
Precision: 0.7767253044654939
Recall: 0.8367346938775511
Accuracy: 0.7015086206896551