### Vanilla CTR Zeroshot

In [1]:
import pickle
import json
import pandas as pd
import numpy as np
import os
import time
from dotenv import load_dotenv
import re

In [2]:
inference_path = 'zeroshot_inference_test.json'
with open(inference_path, 'r') as f:
    inference_dict = json.load(f)
print(len(inference_dict))

1252

In [3]:
ratings_path = '../fashion_data/processed_data/ratings.csv'
ratings_df = pd.read_csv(ratings_path)
ratings_df.head()

   item  user  rating   timestamp
0     0     0     4.0  1452816000
1     1     0     4.0  1453766400
2     2     0     3.0  1453766400
3     3     0     4.0  1453766400
4     4     0     4.0  1453766400

In [4]:
pattern = r"Prediction:(?:\s+)?(Yes|No)\b"
invalid_users = []
cnt = cntInvalid = cntY = cntN = 0
user_inference_dict = dict()
for user, inference in inference_dict.items():
    cnt += 1
    # print(user, inference)
    # Use re.findall to find all matches in the string
    matches = re.findall(pattern, inference, re.IGNORECASE)
    if len(matches) == 0:
        cntInvalid += 1
        invalid_users.append(user)
        user_inference_dict[user] = 1
    for match in matches:
        if match == 'Yes':
            cntY += 1
            user_inference_dict[user] = 1
            break
        elif match == 'No':
            cntN += 1
            user_inference_dict[user] = 0
            break
    # print('*'*100)
    # if cnt == 10:
    #     break
print(f"Yes: {cntY} -- No: {cntN} -- Invalid: {cntInvalid}")
print("invalid_users:", invalid_users)
print(len(user_inference_dict))

Yes: 138 -- No: 8 -- Invalid: 1106
invalid_users: ['0', '1', '2', '3', '4', '5', '6', '7', '9', '10', '11', '12', '13', '15', '18', '19', '20', '21', '22', '23', '24', '25', '26', '28', '29', '30', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '50', '51', '52', '55', '56', '57', '58', '59', '60', '62', '64', '65', '66', '67', '68', '69', '70', '72', '73', '74', '75', '76', '77', '79', '80', '81', '82', '85', '86', '88', '90', '92', '95', '96', '97', '98', '100', '101', '102', '103', '105', '106', '107', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '120', '121', '122', '123', '124', '125', '126', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '141', '142', '143', '144', '146', '147', '148', '149', '151', '152', '153', '154', '156', '157', '159', '160', '161', '163', '164', '165', '166', '169', '170', '171', '172', '173', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '210', '211', '212', '214', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '232', '234', '235', '236', '237', '238', '241', '242', '243', '245', '246', '247', '249', '250', '251', '252', '253', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '270', '271', '272', '274', '276', '278', '280', '282', '283', '285', '287', '288', '289', '293', '294', '295', '296', '297', '298', '299', '300', '301', '302', '303', '304', '305', '306', '307', '308', '309', '310', '311', '312', '313', '314', '316', '318', '320', '321', '322', '323', '324', '325', '326', '327', '328', '329', '330', '331', '332', '333', '334', '335', '336', '339', '340', '341', '342', '343', '344', '345', '347', '348', '349', '350', '351', '352', '353', '354', '355', '357', '358', '359', '360', '361', '363', '364', '365', '366', '368', '369', '370', '371', '372', '374', '375', '376', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '390', '391', '392', '393', '394', '395', '396', '398', '399', '400', '401', '402', '403', '404', '405', '406', '407', '408', '409', '410', '411', '412', '413', '414', '415', '416', '417', '418', '419', '420', '421', '422', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '435', '436', '437', '438', '440', '441', '442', '443', '444', '446', '447', '448', '449', '450', '451', '452', '453', '454', '455', '456', '457', '458', '459', '460', '462', '463', '464', '465', '466', '467', '468', '469', '470', '471', '472', '473', '474', '475', '476', '477', '478', '479', '480', '481', '482', '484', '485', '486', '488', '489', '490', '491', '492', '494', '495', '496', '497', '498', '499', '500', '501', '503', '504', '505', '506', '507', '508', '509', '510', '511', '513', '514', '515', '516', '517', '518', '519', '520', '521', '522', '523', '524', '525', '526', '527', '528', '529', '530', '531', '532', '533', '534', '535', '536', '537', '538', '539', '540', '541', '542', '543', '544', '545', '546', '547', '548', '549', '550', '551', '552', '553', '554', '555', '556', '557', '558', '559', '560', '561', '563', '564', '565', '566', '567', '568', '570', '571', '572', '573', '574', '575', '576', '577', '578', '579', '580', '582', '583', '584', '585', '586', '587', '588', '589', '590', '591', '593', '594', '595', '598', '599', '600', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '614', '615', '616', '617', '618', '620', '621', '622', '623', '624', '625', '627', '628', '629', '630', '631', '632', '633', '634', '635', '636', '637', '638', '639', '640', '641', '642', '643', '644', '645', '646', '647', '648', '649', '650', '651', '652', '653', '655', '656', '657', '658', '659', '660', '661', '662', '663', '664', '667', '669', '670', '671', '672', '673', '674', '675', '676', '677', '678', '679', '681', '682', '683', '684', '685', '686', '687', '688', '689', '690', '692', '693', '694', '695', '696', '697', '698', '699', '700', '701', '702', '705', '706', '707', '708', '709', '710', '711', '712', '714', '715', '716', '717', '718', '719', '720', '721', '722', '723', '724', '725', '726', '727', '728', '729', '731', '732', '733', '734', '735', '736', '737', '738', '740', '743', '744', '745', '746', '748', '749', '750', '751', '752', '753', '754', '755', '757', '759', '760', '761', '762', '764', '765', '767', '768', '769', '770', '772', '773', '774', '775', '776', '777', '778', '779', '780', '781', '782', '783', '784', '785', '786', '787', '788', '790', '791', '792', '793', '794', '796', '797', '798', '800', '801', '802', '803', '804', '805', '806', '808', '809', '810', '811', '812', '814', '815', '816', '817', '818', '819', '821', '822', '823', '824', '825', '826', '827', '828', '830', '831', '832', '833', '834', '835', '836', '837', '838', '839', '840', '842', '843', '844', '845', '846', '847', '848', '849', '850', '851', '852', '854', '855', '856', '857', '858', '859', '861', '862', '863', '864', '867', '869', '872', '873', '874', '875', '876', '877', '878', '879', '880', '881', '882', '883', '884', '885', '887', '888', '889', '891', '892', '893', '894', '895', '896', '897', '899', '900', '901', '903', '904', '906', '907', '908', '909', '910', '911', '912', '913', '914', '915', '916', '917', '918', '919', '920', '921', '922', '923', '924', '925', '926', '927', '931', '933', '934', '935', '936', '937', '938', '940', '941', '942', '943', '944', '945', '946', '947', '948', '949', '950', '951', '952', '955', '956', '957', '959', '960', '962', '963', '964', '965', '966', '967', '970', '971', '972', '973', '974', '975', '976', '977', '978', '979', '980', '981', '982', '983', '984', '985', '986', '987', '989', '990', '991', '992', '993', '994', '995', '996', '998', '999', '1000', '1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1021', '1023', '1024', '1025', '1026', '1027', '1028', '1029', '1030', '1032', '1033', '1034', '1035', '1036', '1037', '1039', '1041', '1042', '1044', '1045', '1046', '1047', '1048', '1049', '1050', '1051', '1052', '1053', '1054', '1055', '1056', '1057', '1058', '1059', '1061', '1062', '1063', '1064', '1065', '1066', '1067', '1068', '1069', '1070', '1071', '1072', '1073', '1074', '1075', '1076', '1077', '1078', '1079', '1080', '1081', '1082', '1083', '1084', '1086', '1087', '1088', '1089', '1090', '1092', '1093', '1094', '1095', '1096', '1097', '1098', '1100', '1101', '1102', '1103', '1104', '1105', '1106', '1107', '1108', '1109', '1110', '1111', '1112', '1113', '1114', '1115', '1116', '1117', '1118', '1119', '1120', '1121', '1122', '1123', '1124', '1125', '1126', '1127', '1128', '1129', '1130', '1132', '1133', '1134', '1136', '1137', '1138', '1139', '1140', '1141', '1142', '1143', '1145', '1146', '1147', '1148', '1149', '1150', '1152', '1153', '1154', '1155', '1156', '1157', '1159', '1160', '1161', '1162', '1163', '1164', '1165', '1166', '1167', '1168', '1169', '1170', '1171', '1172', '1173', '1174', '1175', '1176', '1177', '1178', '1180', '1181', '1182', '1184', '1185', '1186', '1187', '1188', '1189', '1190', '1191', '1192', '1195', '1197', '1198', '1199', '1200', '1201', '1203', '1204', '1205', '1206', '1207', '1208', '1209', '1210', '1211', '1212', '1213', '1214', '1216', '1217', '1218', '1219', '1220', '1221', '1222', '1223', '1224', '1225', '1226', '1227', '1228', '1229', '1230', '1231', '1233', '1234', '1235', '1236', '1237', '1238', '1239', '1240', '1242', '1243', '1244', '1245', '1246', '1247', '1248', '1249', '1250', '1251', '1252', '1253', '1254', '1255', '1256', '1257', '1258', '1259', '1260', '1261', '1262', '1263', '1264', '1265', '1266', '1267', '1268', '1270']
1252

In [5]:
user_test_movie_rating_df = ratings_df.groupby('user').nth(-1)
user_test_movie_rating_df.head()

    item  user  rating   timestamp
7      7     0     3.0  1500854400
17    17     1     5.0  1470096000
25    25     2     4.0  1462924800
33    25     3     4.0  1495065600
41    25     4     5.0  1509580800

In [6]:
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, precision_score, recall_score
y_true = []
y_pred = []

fp_users = []
fn_users = []

for user, inference in user_inference_dict.items():
    original_rating = user_test_movie_rating_df[user_test_movie_rating_df['user'] == int(user)]['rating'].values[0]
    # print(original_rating)
    if original_rating > 3:
        y_true.append(1)
        if inference == 0:
            fn_users.append(user)
    else:
        y_true.append(0)
        if inference == 1:
            fp_users.append(user)
    y_pred.append(inference)

conf_matrix = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

auc_roc = roc_auc_score(y_true, y_pred)
print("AUC:", auc_roc)

precision = precision_score(y_true, y_pred)
print("Precision:", precision)

recall = recall_score(y_true, y_pred)
print("Recall:", recall)

accuracy = accuracy_score(y_true, y_pred)
print("Accuracy:", accuracy)

Confusion Matrix:
[[  2 289]
 [  6 955]]
AUC: 0.5003146779378582
Precision: 0.7676848874598071
Recall: 0.9937565036420395
Accuracy: 0.7643769968051118

In [13]:
user_valid_movie_rating_df = ratings_df.groupby('user').nth(-2)
user_valid_movie_rating_df.head()

    item  user  rating   timestamp
6      5     0     5.0  1404604800
13    11     1     5.0  1504656000
20    11     2     4.0  1506643200
26    19     3     5.0  1493337600
32    19     4     5.0  1524614400

In [14]:
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, precision_score, recall_score
y_true = []
y_pred = []

fp_users = []
fn_users = []

for user, inference in user_inference_dict.items():
    original_rating = user_valid_movie_rating_df[user_valid_movie_rating_df['user'] == int(user)]['rating'].values[0]
    # print(original_rating)
    if original_rating > 3:
        y_true.append(1)
        if inference == 0:
            fn_users.append(user)
    else:
        y_true.append(0)
        if inference == 1:
            fp_users.append(user)
    y_pred.append(inference)

conf_matrix = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

auc_roc = roc_auc_score(y_true, y_pred)
print("AUC:", auc_roc)

precision = precision_score(y_true, y_pred)
print("Precision:", precision)

recall = recall_score(y_true, y_pred)
print("Recall:", recall)

accuracy = accuracy_score(y_true, y_pred)
print("Accuracy:", accuracy)

Confusion Matrix:
[[ 31  15]
 [321 257]]
AUC: 0.5592748608394764
Precision: 0.9448529411764706
Recall: 0.444636678200692
Accuracy: 0.46153846153846156