In [1]:
import pandas as pd
import numpy as np
import pickle
import os

In [2]:
movies_df = pd.read_csv('movies_summary_1024_embeddings.csv')
movies_df.head()

,movie_id,name,cleaned_genre,year,summary,embeddings_1024
0,1,Toy Story,"Animation,Children's,Comedy",1995,Toy Story is a groundbreaking animated film th...,[-0.04189223 0.05833309 -0.02476214 ... -0.02...
1,2,Jumanji,"Adventure,Children's,Fantasy",1995,"""Jumanji (1995) is a thrilling adventure film ...",[ 0.01302368 0.03859716 -0.01630003 ... -0.01...
2,3,Grumpier Old Men,"Comedy,Romance",1995,"""Grumpier Old Men is a hilarious and heartwarm...",[ 0.02791052 0.01487485 -0.02803959 ... -0.01...
3,4,Waiting to Exhale,"Comedy,Drama",1995,"""Waiting to Exhale"" (1995) is a heartfelt dram...",[-0.05895531 0.05494044 -0.01637648 ... -0.00...
4,5,Father of the Bride Part II,Comedy,1995,Father of the Bride Part II (1995) is a heartw...,[-0.00589523 0.0246773 -0.02444115 ... 0.00...

In [7]:
movies_df['embeddings_1024'] = movies_df.embeddings_1024.apply(eval).apply(np.array)

SyntaxError: invalid syntax (<string>, line 1)

In [17]:
import ast
temp = movies_df['embeddings_1024'][0]
temp

'[-0.04189223  0.05833309 -0.02476214 ... -0.02134957  0.03375586\n -0.02773763]'

In [26]:
import re
temp_list = re.split(" |, |\n", temp[2:-2])
print(len(temp_list))
for num in temp_list:
    if num!='':
        print(num)
        print(float(num.strip()))

10
0.04189223
0.04189223
0.05833309
0.05833309
-0.02476214
-0.02476214
...

ValueError: could not convert string to float: '...'